* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: var(--font-roboto-sans);
}

h1 {
  text-align: center;
}

label {
  font-size: 12px;
  font-weight: bold;
}

input,
select {
  font-size: 12px;
}


.form,
.input {
  padding: 10px;
  border: 1px solid #60a5fa;
  border-radius: 8px;
  transition: all 0.25s ease;
}


































/* animação */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Estilos para área contatos */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead {
  background-color: #1a44d9;
  color: #fff;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

table button {
  cursor: pointer;
  background: none;
  border: none;
}



.user {
  display: flex;
  flex-direction: column;
}

.user a {
  color: #3b82f6;
  cursor: pointer;
}



.icone {
  font-size: 12px;
  cursor: pointer;
  color: #8e8e8e;
  margin-left: -30px;
}

/** Login*/







/*Login*/
.input-container-login {
  position: relative;
  width: 100%;
}

.icon-button {
  position: absolute;
  top: 25%;
  right: 10px;
  color: #1a44d9;
  cursor: pointer;
}

.form input {
  padding-left: 40px;
}


@media (max-width: 730px) {
  .form-row {
    grid-template-columns: 1fr;
  }


}