* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

h1 {
  text-align: center;
}

.form {
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form button {
  padding: 10px;
  border: none;
  background: #1a44d9;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.8;
}

.form span {
  color: #ef4444;
  font-size: 12px;
  margin-top: -5px;
}

.form input:invalid,
.form select:invalid {
  border-color: #ef4444;
}

.form select,
.input {
  padding: 10px;
  border: 1px solid #60a5fa;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.form select:focus,
.input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px rgba(12, 171, 234, 0.2);
}

/* 🔴 erro */
.form select.error,
.input.error {
  border-color: #ef4444;
  animation: shake 0.2s ease;
}

/* glow vermelho */
.form select.error:focus,
.input.error:focus {
  box-shadow: 0 0 0 1px rgba(215, 57, 57, 0.726);
}

/* animação */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Estilos para área contatos */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead {
  background-color: #1a44d9;
  color: #fff;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

table button {
  cursor: pointer;
  background: none;
  border: none;
}


/***************Login******************/
.login-container {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-area {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: #B0C4DE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-area form {
  display: flex;
  flex-direction: column;
}

.login-area h1 {
  margin-bottom: 20px;

}

.login-area form input {
  margin-bottom: 20px;
}

.login-area button {
  padding: 10px;
  border: none;
  background: #1a44d9;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}


.login-area input {
  width: 300px;
  padding: 10px;
  border: 1px solid #60a5fa;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.login-area input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px rgba(12, 171, 234, 0.2);
}