.form {
    max-width: 900px;
    margin: auto;
    padding: 24px;
    background: #FFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08);
    border-radius: 12px;
}


/*Mensagem de Erro  🔴*/
.form span {
    color: #FF0000;
    font-size: 9px;
}

.form input:invalid,
.form select:invalid {
    border-color: #FF2C2C
        /*in*/
}

.form select.error,
.input.error {
    border-color: #FF0000;
    animation: shake 0.2s ease;
}

/* glow vermelho */
.form select.error:focus,
.input.error:focus {
    box-shadow: 0 0 0 1px rgba(255, 0, 32, 0.726);
}

.input.error:focus {
    border-color: #FF0000;
    /*out*/
}



/*Form*/

.form input {
    width: 100%;
}

.form select:focus,
.input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px rgba(12, 171, 234, 0.2);
}

.input {
    padding: 10px;
    border: 1px solid #60a5fa;
    border-radius: 8px;
    transition: all 0.25s ease;
}

/* animação */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

/*Button*/
.form button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

.form button:hover {
    background: #1d4ed8;
}

.btnForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/**Card Dados Pessoais e Endereço**/

.infoArea {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 -24px 0 -24px;
    /*top,right,botton, left */
    padding: 0 24px 16px 24px;
    border-bottom: 1px solid #e5e7eb;
}

.form h2 {
    font-size: 18px;
    color: #333;
}

.infoIco {
    border-radius: 5px;
    background: #e4f4fd;
    padding: 10px;
    color: #26658c;
}

.infoText {
    font-size: 10px;
    color: #8e8e8e;
}



/******* Area Grid ***********/

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gridAddress {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**** Position Icons *****/
.inputContainer {
    position: relative;
    width: 100%;
}

.inputIcon,
.inputIconMask {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
    pointer-events: none;
}

.inputIconMask {
    top: 70%;
}

.selectItem {
    display: grid;
}